<h1>
  {{title}}
</h1>
<ext:Label ID="label1">
  <ToolTips>
    <ext:ToolTip ID="ToolTip1" runat="server" Title="Add" Html="Label ToolTip Testing" />
  </ToolTips>
</ext:Label>

<br>
<br>
<!--<p-dropdown [options]="cities"  [(ngModel)]="selectedCity" [filter]="true" name="selectedCity"  ></p-dropdown>-->

<!--<ext:Store ID="dsDepartmentTypes" runat="server" RemoteSort="true" AutoLoad="false" UseIdConfirmation="true">
  <Proxy>
    <ext:AjaxProxy Url="/DepartmentTypeData/GetDepartmentTypes" NoCache="false">
      <Reader>
        <ext:JsonReader IDProperty="DepartmentTypeID" Root="data" TotalProperty="total" />
      </Reader>
    </ext:AjaxProxy>
  </Proxy>
  <Model>
    <ext:Model runat="server">
      <Fields>
        <ext:ModelField Name="DepartmentTypeID" SortDir="ASC" />
        <ext:ModelField Name="DepartmentTypeName" />
        <ext:ModelField Name="IsFractionalQtyAllowedFlag" Type="Boolean" />
        <ext:ModelField Name="IsItemReturnableFlag" Type="Boolean" />
        <ext:ModelField Name="AllowFoodStampsFlag" Type="Boolean" />
        <ext:ModelField Name="SalesRestrictionRequiredFlag" Type="Boolean" />
        <ext:ModelField Name="IsDepartmentNegative" Type="Boolean" />
      </Fields>
    </ext:Model>
  </Model>

  <Listeners>
    <!--<Load Handler="App.dsDisPromptMethods.reload();" />
  </Listeners>
</ext:Store>-->

<!--<ext:ComboBox runat="server" AllowBlank="false" ID="cmbStoreLocation" Width="100" TypeAhead="true" QueryMode="Local" StoreID="dsDepartmentTypes"
  LabelSeparator=" " IDMode="Static" DisplayField="StoreName" Hidden="true" ValueField="StoreLocationID">
  <Listeners>
    <Select Handler="App.dsStoreLocTaxes.reload();App.dsSalesRestrictions.reload();App.cmbSalesRestrication.setValue(0);App.cmbSalesRestrication.setRawValue('NONE');App.cmbTax.setRawValue('NONE');App.cmbTax.setValue(0)"
    />
  </Listeners>
</ext:ComboBox>-->

<ext:ComboBox runat="server" AllowBlank="false" ID="cmbStoreLocationFixed" Width="100" TypeAhead="true" QueryMode="Local"
  LabelSeparator=" " IDMode="Static" Hidden="true">
  <Listeners>
  </Listeners>
  <Items>
    <ext:ListItem Value="SelectItem" Text="Select item" />
    <ext:ListItem Value="POSSyncStatus" Text="POS Sync Status" />
    <ext:ListItem Value="IsFractionalQtyAllowedFlag" Text="Allow Partial Quantity Sales" />
    <ext:ListItem Value="POSSyncStatus" Text="POS Sync Status" />
    <ext:ListItem Value="IsDepartmentOpen" Text="Allow Open Sales In Department" />
    <ext:ListItem Value="IsFractionalQtyAllowedFlag" Text="Allow Partial Quantity Sales" />
    <ext:ListItem Value="IsLoyaltyRedeemEligibleFlag " Text="Allow Loyalty Redeem Sales" />
    <ext:ListItem Value="IsItemReturnableFlag" Text="Allow Item Returns" />
    <ext:ListItem Value="AllowFoodStampsFlag" Text="Allow Food Stamp Sales" />
    <ext:ListItem Value="AreSpecialDiscountsAllowedFlag" Text="Allow Special Discounts" />
    <ext:ListItem Value="PriceRequiredFlag" Text="Flexible Pricing For Items" />
    <ext:ListItem Value="SalesRestriction" Text="Sales Restriction" />
    <ext:ListItem Value="Tax" Text="Store Tax" />
    <ext:ListItem Value="DepartmentTypes" Text="Department Types" />
    <ext:ListItem Value="ActiveFlag" Text="Active" />
    <ext:ListItem Value="ProfitMargin" Text="Profit Margin" />
    <ext:ListItem Value="ProfitPercent" Text="Profit Percent" />
  </Items>
</ext:ComboBox>

<br>
<br>

<!--<ext:ComboBox Width="300" runat="server" Height="23" ID="cmbmoveDepartment" FieldLabel="Department" Name="DepartmentID" DisplayField="DepartmentDescription"
  ValueField="DepartmentID" StoreID="dsDepartmentCombo" IDMode="Static" AllowBlank="false" QueryMode="Local" TypeAhead="true">
  <DirectEvents>
    <Select Url="/DepartmentData/GetDepartmentByID">
      <ExtraParams>
          <ext:Parameter Name="id" Value="App.cmbmoveDepartment.getValue()" Mode="Raw"></ext:Parameter>
      </ExtraParams>
    </Select>
  </DirectEvents>
</ext:ComboBox>-->


<!--<ext:FieldSet LabelSeparator=" " ColumnWidth=".40" ID="rightDepPanel5" runat="server" Border="false" IDMode="Static">
  <Defaults>
    <ext:Parameter Name="LabelWidth" Value="170" />
    <ext:Parameter Name="LabelSeparator" Value=" "></ext:Parameter>
  </Defaults>
  <Items>
    <ext:ComboBox runat="server" AllowBlank="false" ID="cmbStoreLocationFixed" Width="100" TypeAhead="true" QueryMode="Local"
      LabelSeparator=" " IDMode="Static" Hidden="true">
      <Listeners>
      </Listeners>
      <Items>
        <ext:ListItem Value="SelectItem" Text="Select item" />
        <ext:ListItem Value="POSSyncStatus" Text="POS Sync Status" />
        <ext:ListItem Value="IsFractionalQtyAllowedFlag" Text="Allow Partial Quantity Sales" />
        <ext:ListItem Value="POSSyncStatus" Text="POS Sync Status" />
        <ext:ListItem Value="IsDepartmentOpen" Text="Allow Open Sales In Department" />
        <ext:ListItem Value="IsFractionalQtyAllowedFlag" Text="Allow Partial Quantity Sales" />
        <ext:ListItem Value="IsLoyaltyRedeemEligibleFlag " Text="Allow Loyalty Redeem Sales" />
        <ext:ListItem Value="IsItemReturnableFlag" Text="Allow Item Returns" />
        <ext:ListItem Value="AllowFoodStampsFlag" Text="Allow Food Stamp Sales" />
        <ext:ListItem Value="AreSpecialDiscountsAllowedFlag" Text="Allow Special Discounts" />
        <ext:ListItem Value="PriceRequiredFlag" Text="Flexible Pricing For Items" />
        <ext:ListItem Value="SalesRestriction" Text="Sales Restriction" />
        <ext:ListItem Value="Tax" Text="Store Tax" />
        <ext:ListItem Value="DepartmentTypes" Text="Department Types" />
        <ext:ListItem Value="ActiveFlag" Text="Active" />
        <ext:ListItem Value="ProfitMargin" Text="Profit Margin" />
        <ext:ListItem Value="ProfitPercent" Text="Profit Percent" />
      </Items>
    </ext:ComboBox>
    <ext:TextField ID="txtDepDesc" runat="server" FieldLabel="Description" AllowBlank="false" IDMode="Static" Name="DepartmentDescription"></ext:TextField>
    <ext:TextField ID="txtMinSaleAmount" runat="server" FieldLabel="Minimum Open Sale Amount" IDMode="Static" Name="MinimumOpenSaleAmount">
      <Listeners>
        <Blur Fn="setDollorSignFoSaleAmt"></Blur>
      </Listeners>
    </ext:TextField>
  </Items>
</ext:FieldSet>-->

<!--<br>
<br>-->

<ext:TextField runat="server" ID="txtCompanysearchDetails" IDMode="Static" EnableKeyEvents="true" FieldLabel="Filter" LabelWidth="50">
  <Listeners>
    <KeyDown Fn="applyCompaniesSearchFilter" />
  </Listeners>
</ext:TextField>

<br>
<br>

<ext:DateField Width="207" LabelSeparator=" " ID="dpPurchaseRepStartDate" runat="server" LabelWidth="80" Format='m-d-yyyy'
  IDMode="Static" FieldLabel="Start Date">
</ext:DateField>

<ext:DateField Width="207" LabelSeparator=" " ID="dpPurchaseRepEndDate" runat="server" LabelWidth="80" Format='m-d-yyyy'
  IDMode="Static" FieldLabel="Start Date">
</ext:DateField>

<br>
<br>

<ext:LinkButton runat="server" ID="btnEmployeeSetupPopWindow" IDMode="Static" Text="+ Add">
  <Listeners>
    <Click Fn="showEmployeeSetupWindow" />
  </Listeners>
  <DirectEvents>
    <Click Url="/Admin/EmployeesetupDetail" Before="clearEmpSetupDetailsDiv" Success="function(){isEmpSetupDetailloaded=true;}">
      <ExtraParams>
        <ext:Parameter Name="containerId" Value="AddEmployeeSetup" Mode="Value" />
        <ext:Parameter Name="isPopup" Value="true" Mode="Value" />
      </ExtraParams>
      <EventMask Target="CustomTarget" ShowMask="true" CustomTarget="App.addEmployeeSetup" />
    </Click>
  </DirectEvents>
</ext:LinkButton>

<br>
<br>

<button (click)="setValue()"> set </button>
<button (click)="Show()"> Show/Hide </button>

<br>

<button (click)="comboApiCall()"> Call API </button>